<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

</style>

<div class="card">
  <div>
  <mat-form-field appearance="fill">
  <mat-label>Nume</mat-label>
  <input matInput>
</mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Reason</mat-label>
    <mat-select>
      <mat-option value="suggestions">Suggestions</mat-option>
      <mat-option value="issues">Issues</mat-option>
      <mat-option value="contact">Contact</mat-option>
    </mat-select>
    <mat-hint align="end">Select a reason^</mat-hint>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Text</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>

<button  mat-raised-button color="primary">Submit</button>
</div>
