
<header>
  <mat-toolbar color="primary">
    <button (click)="goHome()" mat-raised-button color="primary">Home</button>
    <button (click)="goNoutati()" mat-raised-button color="primary">News</button>
    <button (click)="goAbout()" mat-raised-button color="primary">About</button>
    <button (click)="goProfil()" mat-raised-button color="primary">Profile</button>
    <button (click)="goCoordonator()"mat-raised-button color="primary">Coordinator</button>
    <button (click)="goContact()" mat-raised-button color="primary">Contact</button>
  </mat-toolbar>

</header>

<div>

  <router-outlet></router-outlet>
</div>

<footer class="footer" id="footer" >
  <div class="container" >
    <div class="content has-text-centered">
      <p>
        Copyright 2020 <a href="https://www.linkedin.com/in/hollo-jozsef/">Hollo Jozsef</a>
      </p>
    </div>
  </div>
</footer>

